{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-9">
            {% include "partials/img_details.html" %}
        </div>
        <div class="col-3">
            <div class="card my-4">
                <div class="card-header bg-warning">
                    In Favourites
                </div>
                <ul class="list-group list-group-flush in-fav-list">
                    {% for usr in photo.users_in_favourites.all %}
                        <li class="list-group-item"><a href="{% url 'profile' usr.pk %}">{{ usr.username }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <h2 class="text-center">Comments</h2>
    <hr>
    <div class="comments-block">
        <form action="{% url 'comment_create_api' photo.pk %}" id="comment-form">
            <label class="w-100">
                <textarea name="text" placeholder="Place new comment" cols="30" rows="5"></textarea>
            </label>
            <button class="btn btn-primary mb-3">Submit</button>
        </form>
        <div id="comments">
            {% for comment in photo.comment_set.all %}
                <div class="card mb-3">
                    <div class="card-header">
                        {{ comment.created_at|date:'d.m.Y' }} | {{ comment.author.username }}
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <footer class="blockquote-footer">{{ comment.text }}</footer>
                        </blockquote>
                    </div>
                </div>
            {% empty %}
                <h2 class="text-center my-5">Empty :c</h2>
            {% endfor %}
        </div>

    </div>
{% endblock %}
