{% extends "base.html"%}

{% block content %}
    <h2>{{ object.username }}'s Profile</h2>
    <p>First Name: {% if object.first_name %} {{ object.first_name }} {% else %} Not implemented {% endif %}</p>
    <p>Last Name: {% if object.last_name %} {{ object.last_name }} {% else %} Not implemented {% endif %}</p>
    <p>Email: {% if object.email %} {{ object.email }} {% else %} Not implemented {% endif %}</p>

    <div class="d-flex justify-content-center align-items-center flex-column">
        <h3>Favourites</h3>
        {% for photo in object.favourites.all %}
            {% include 'partials/img_details.html' %}
        {% endfor %}
    </div>
{% endblock %}